<h2>Hi, <%= @user.full_name %></h2>

<h4>It's Community Chest!</h4>

<h4>Your request had been accepted to borrow <span style="color:#F95800"><%= @item_name %></span> from <%= @owner.full_name %>.</h4>

<h4>Click this address below to contact the owner:</h4>
<p><%= @url %></p>
